<% layout('layouts/boilerplate')%>
    <div class="row d-flex flex-column align-items-center my-5">
        <h1>Kayaking Spots</h1>
        <a href="/kayaking/new" class="btn btn-success mt-3">Create Kayaking Spot</a>
    </div>


    <% for (let kayak of kayaking) {%>
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-md-4">
                    <img class="img-fluid" src="<%=kayak.image%>" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=kayak.title%>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%=kayak.location%>
                            </h6>
                            <p class="card-text">
                                <%=kayak.description%>
                            </p>
                            <a href="/kayaking/<%=kayak._id%>" class="card-link btn btn-info">Visit Spot</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%}%>